@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  font-family: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
}
